body{
    background:#f2e9d8
}
hi,h2 {color: rgba(0,0,0,0.6)
}
body > table {background-image: url(Pic/untitled.jpg);
    background-repeat: no-repeat ;
background-size: cover;}

    td {

        background-color: rgba(225,225,225,0.2);
        }
        a {color:#ed0a3f }
        a:hover {color: #2d383a;} 
td.spalva {background-color: rgba(0,0,0,0.6) 
}
p.balta{color:white
}
p#pirmas-paragrafas{color:rgba(25, 250, 36, 0.76)
}
     
.agu-display-800{
  font-family: "Agu Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;

}

        