body{
    background:#f2e9d8
}
hi,h2 {color: rgba(0,0,0,0.4)
}
body > table {background-image: url(Pic/untitled.jpg);
    background-repeat: no-repeat ;
background-size: cover;}

    td {

        background-color: rgba(225,225,225,0.2);
        }
        a {color:#ed0a3f }
        a:hover {color: #2d383a;} 



        // <uniquifier>: Use a unique and descriptive class name

agu-display-<uniquifier> {
  font-family: "Agu Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 0;
}

        