body {
 display: flex;
 flex-direction: column;  
 background-color: rgb(211, 193, 169); 
}

.hed{
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
}
.hed > div:first-child {
    display: flex;
   
    /* padding: 15px;   */
}
.hed > div:last-child {
    display: flex;
    justify-content: flex-end;
    /* padding: 15px;   */
}

.viol {
    display: flex;
    justify-content: center;
    background: rgb(174, 0, 255);
    /* padding: 15px;   */
}
.viol p {
    color: white;
    width: 80%;
    
}













.violap {
    display: flex;
    justify-content: space-around;
    background: rgb(174, 0, 255);
    /* padding: 15px;   */
}
.violap p {
    color: white;
    width: 40%;
    
}

















/* .hed {
    display: flex; 
    justify-content: flex-end;
    /* justify-content: flex-start; */

}

